<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Car.Comp - Compra de Veículos</title>
</head>
<body>
<header class="header" th:fragment="header">
  <div class="logo-container">
    <a class="logotype" th:href="@{/}">MiranhaCar</a>
  </div>
  <div class="vehicles-container">
    <a class="vehicles" th:href="@{/vehicles}">Compra de Carros</a>
  </div>
  <div class="auth-container">
    <div class="auth">
      <a class="login" th:href="@{/login}">Login</a>
      <a class="register" th:href="@{/register}">Cadastrar</a>
    </div>
  </div>
</header>
</body>
</html>