<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Veículos à Venda - VendeCar</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div th:replace="~{fragments/footer :: footer-content}"></div>
  </body>
</html>
